{% extends "layout.njk" %}

{% block title %}{{ config.pageTitle }}{% endblock %}

{% block heading %}{{ config.heading }}{% endblock %}

{% block content %}
{% include "batches/table.njk" %}
{% endblock %}
